{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card mx-auto" style="max-width: 540px;">
            <div class="card-header bg-dark text-white">
                <h2 class="mb-0">Register</h2>
            </div>
            <div class="card-body">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.nom, {
                            label: 'Nom',
                            attr: {
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.prenom, {
                            label: 'Prénom',
                            attr: {
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.date, {
                            label: 'Date de naissance',
                            attr: {
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.email, {
                            label: 'Email',
                            attr: {
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password',
                            attr: {
                                class: 'form-control'
                            }
                        }) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}