<header class="custom-header py-2">
    <div class="container-fluid d-flex align-items-center">
        <a href="{{ path('app_main') }}" class="d-flex align-items-center text-decoration-none">
            <!-- Logo du site -->
            <img width="50" height="50" src="https://img.icons8.com/color-pixels/32/in-transit.png" alt="in-transit"/>

            <!-- Nom du site -->
            <h1 class="fs-4 mb-0 text-dark">Transit-List</h1>
        </a>
    </div>
    <nav class="custom-header py-2">
        <div class="container-fluid">
            <a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2"
               href="{{ path('app_main') }}">Home</a>
            <!-- Lien vers la liste des utilisateurs -->
            <a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2"
               href="{{ path('app_user_list') }}">Users</a>
<a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2" href="{{ path('app_register') }}">S'inscrire</a>
<a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2" href="{{ path('app_login') }}">Se connecter</a>
<a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2" href="{{ path('app_logout') }}">Déconnexion</a>



            <a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2"
               href="{{ path('app_boisson') }}">Boissons</a>

            <a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2"
               href="{{ path('app_gris') }}">Gris</a>

            <a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2"
               href="{{ path('app_musicien') }}">Musiciens</a>

            <a class="navbar-brand text-dark text-decoration-none fw-bold fs-6 ms-2"
               href="{{ path('app_comete') }}">Cometes</a>
        </div>
    </nav>
</header>