{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1 class="mb-4 text-center">Mon compte</h1>
        <p>Nom : {{app.user.nom}}</P>
        <p>Prenom : {{app.user.prenom}}</P>
        {% if is_granted('ROLE_USER') %}
            <p>date	<strong class="red">anniversaire</strong> : 	{{app.user.anniversaire.date | date("d/m/y")}}</P>
        {% else %}
            <p>date anniversaire : {{app.user.anniversaire.date | date("d/m/y")}}</P>
        {% endif %}
            <p>Email : {{app.user.email}}</P>      
    </div>
{% endblock %}
